@import '../../../styles/imports';
$unit-box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.04),
	0 2px 4px 0 rgba(0, 0, 0, 0.04), inset 0 0 0 1px rgba(255, 255, 255, 0.5);

.container {
	display: flex;
	flex: 1;
	gap: 8px;
	flex-wrap: wrap;
	padding: 4px 0;
	flex-direction: column;
	//overflow-y: scroll;
	margin-right: 128px;
}

.layer {
	display: flex;
	//flex: 1;
	gap: 8px;
	flex-wrap: wrap;
	margin-bottom: 16px;
	flex-direction: column;
	.unitItems {
		display: flex;
		//flex: 1;
		gap: 8px;
		flex-wrap: wrap;
		margin: 4px 0;
	}
}

.unit {
	background-color: white;
	padding: 16px 24px;
	border-radius: 2px;
	//box-shadow: $unit-box-shadow;
	border: 1px solid rgba($color-primary, 0.1);
	align-self: flex-start;
	min-width: 200px;

	h6 {
		margin-bottom: 4px;
	}
}
