@import '../../styles/imports';

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.card {
	border: 0.5px solid rgba(#888, 0.2);
	padding: 16px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', 'sans-sherif';

	.image {
		flex: 1;
		img {
			width: 100%;
			height: auto;
		}
	}
	main {
		flex: 1;
		margin: 8px 0;
	}
}

.clickable {
	cursor: pointer;
	&:hover {
		background-color: whitesmoke;
	}
}

.cardTitle {
	margin-bottom: 4px;
	h6 {
		font-family: 'Montserrat', 'sans-sherif';
	}
}

.sub {
	p {
		font-weight: 800;
		font-size: 0.8rem;
		color: #888;
	}
}

.small {
	p {
		font-weight: 500;
		font-size: 0.8rem;
		color: #424242;
	}
}

.cardItem {
	p {
		font-weight: 500;
		font-size: 1rem;
		color: #424242;
	}
}

.danger {
	p {
		font-weight: 700;
		font-size: 0.8rem;
		color: crimson;
		font-style: italic;
	}
}

.link {
	margin: 0.5rem 0;
	a {
		font-weight: 700;
		font-size: 1rem;
		color: dodgerblue;
	}
}
