@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
.container {
  overflow: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid rgba(66, 66, 66, 0.05);
  width: 100%;
}

.contain {
  border-radius: 10px;
  background-color: white;
  margin: 0.5rem;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.items, .titleItems, .linkItems {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right-width: 0;
  border-left-width: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-transform: capitalize;
  padding: 12px 32px;
  min-width: 100%;
  border-top: 2px solid rgba(66, 66, 66, 0.05);
}

.titleItems {
  margin: 0;
  padding: 4px 32px;
  background-color: white;
  border-top: none;
  padding: 12px 32px;
}

.linkItems {
  cursor: pointer;
}

.linkItems:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.titleItem, .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  width: 64px;
  margin-right: 2rem;
}

@media (min-width: 1008px) {
  .titleItem, .item {
    min-width: 120px;
  }
}

.titleItem p, .item p,
.titleItem h6,
.item h6 {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  color: #424242;
}

.titleItem p, .item p {
  font-size: 0.9rem;
}

.checkboxItem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  min-width: 100pxs;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.checkboxItem .innerItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

.checkboxItem p {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.checkboxItem .checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #4d4c7d;
  margin-right: 8px;
  border-radius: 2px;
}

.checkboxItem .checked {
  width: 16px;
  height: 16px;
  border: 1px solid #4d4c7d;
  margin-right: 8px;
  border-radius: 2px;
  background-color: #391f42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkboxItem .checked img {
  width: 20px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 2px;
}

.checkboxItem:hover .checkbox,
.checkboxItem:hover .checked {
  background-color: rgba(77, 76, 125, 0.6);
}

.titleItem h6 {
  font-size: 0.9rem;
  color: #9b9eaa;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.item a {
  font-size: 14px;
  color: dodgerblue;
  cursor: pointer;
}

.paginate {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-bottom: 2px solid rgba(66, 66, 66, 0.05);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 100%;
}

.paginate .title p {
  color: #391f42;
  font-size: 0.9rem;
  font-weight: 600;
}

.paginate .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=Table.module.css.map */