//@at-root
@import '../../../styles/imports';

%nav {
	background-color: white;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 32px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 60px;
	position: fixed;
	flex: 1;
	justify-content: space-between;
	margin-right: 60px;
	box-sizing: border-box;
	a {
		font-size: 1.1rem;
		font-weight: 600;
	}
	h3 {
		cursor: pointer;
	}
}

.nav {
	@extend %nav;
	//justify-content: space-between;
	@include desktop {
		margin-left: 220px;
	}
	width: calc(100vw - 220px);

	padding: 0 64px 0 16px;
}

.toggled {
	@extend %nav;

	margin-left: 60px;
	h3 {
		cursor: pointer;
	}
	width: calc(100vw - 60px);
	padding: 0 64px 0 16px;
}

.logo {
	flex: 1;
}

.items {
	flex: 1;
}

.landing {
	@extend %nav;

	margin-left: 0;
	h3 {
		cursor: pointer;
	}
	width: 100%;
	padding: 0 64px;
}

.title {
	flex: 1;
}

.logout {
	cursor: pointer;
	align-self: center;
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: flex-end;

	p {
		text-align: right;
		font-size: 14px;
		font-weight: 700;
	}
}
